.content {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;}

.home {
    margin-top: -41px;
    padding-top: 100px;
}

h1 {
    text-align: center;
}

.summary {
    margin: 0 25% 0 25%;
    text-align: center;
    padding-top: 10px;
}

.invite-me {
    padding-top: 80px;
}
.click-here {
    text-align: center;
    padding-top: 30px;
}